<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099034472695-i7uo69t1vjhnc4g9k577j8cibfreep70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099034472695-i7uo69t1vjhnc4g9k577j8cibfreep70</string>
	<key>API_KEY</key>
	<string>AIzaSyBHP-8LIj4HowsORGG6vvV4I4OxRmCL0SU</string>
	<key>GCM_SENDER_ID</key>
	<string>1099034472695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogApp</string>
	<key>PROJECT_ID</key>
	<string>blogapp-fcc94</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-fcc94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099034472695:ios:02fefa577bf3083ff2a3f2</string>
	<key>DATABASE_URL</key>
	<string>https://blogapp-fcc94.firebaseio.com</string>
</dict>
</plist>